<div class="container card login-container mt-3">
    <h3 class="text-center">Create an account</h3>

    <hr/>
    <div class="alert alert-danger" role="alert" *ngIf="errorMsg.length">
        <p *ngFor="let msg of errorMsg"> {{ msg }}</p>
    </div>

    <div class="mb-3">
        <label for="firstname" class="form-label">First name</label>
        <input [(ngModel)]="registrationRequest.firstname" type="text" class="form-control" id="firstname" placeholder="" />
    </div>

    <div class="mb-3">
        <label for="lastname" class="form-label">Last name</label>
        <input [(ngModel)]="registrationRequest.lastname" type="text" class="form-control" id="lastname" placeholder="" />
    </div>

    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input [(ngModel)]="registrationRequest.email" type="text" class="form-control" id="email" placeholder="name@example.com" />
    </div>

    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input [(ngModel)]="registrationRequest.password" type="password" class="form-control" id="password" placeholder="Password" />
    </div>

    <div class="d-flex justify-content-between mb-3">
        <button (click)="register()" type="button" class="btn btn-primary">
            <em class="fas fa-sign-in-alt">&nbsp; Register</em>
        </button>

        <div>
            Already have an account ?&nbsp;
            <button (click)="goToLogin()" type="button" class="btn btn-link">
                Login
            </button>
        </div>
    </div>
</div>